<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<body>
    <section layout:fragment="content">
        <button type="button" class="btn btn-dark mt-2 mb-3" onclick="openForm()">Tambah</button>

        <table class="table table-bordered">
            <thead>
            <tr>
                <td>No</td>
                <td>Name</td>
                <td>Category</td>
                <td>Description</td>
                <td>Price</td>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, iter:${productData}">
                <td th:text="${iter.count}"></td>
                <td th:text="${item.Name}"></td>
                <td th:text="${item.category.Name}"></td>
                <td th:text="${item.Description}"></td>
                <td th:text="${item.Price}"></td>
                <td><button th:value="${item.id}" class="btn" onclick="editForm(this.value)">E</button></td>
                <td><button th:value="${item.id}" class="btn" onclick="deleteForm(this.value)">X</button></td>
            </tr>
            </tbody>
        </table>

        <div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <script>
            function openForm(){
                $.ajax({
                    url:'/product/form',
                    type:'get',
                    contentType:'html',
                    success:function(catForm){
                        $('#mymodal').modal('show');
                        $('.modal-title').html("Product Form");
                        $('.modal-body').html(catForm);
                    }
                })
            }

            function editForm(id){
                $.ajax({
                    url:'/product/editform/'+id,
                    type:'get',
                    contentType:'html',
                    success:function(catForm){
                        $('#mymodal').modal('show');
                        $('.modal-title').html("Edit Product");
                        $('.modal-body').html(catForm);
                    }
                })
            }

            function deleteForm(id){
                $.ajax({
                    url:'/product/deleteform/' + id,
                    type:'get',
                    contentType:'html',
                    success:function(catForm){
                        $('#mymodal').modal('show');
                        $('.modal-title').html("Delete Product");
                        $('.modal-body').html(catForm);
                    }
                })
            }

        </script>
    </section>
</body>
</html>